<div class="row">
  <div class="col-sm-8">
	  <h2><i class="fas fa-edit"></i>Cosplay image editing</h2>
  </div>
  <div class="col-sm-4"></div>
</div>

<%= render "public/shared/error_messages", resource: @cosplay_image %>

<%= form_with model: @cosplay_image, url: public_cosplay_image_path(@cosplay_image), local:true do |f| %>
  <div class="row">
    <%= f.label :title, "Title", class: "col-sm-2 mx-3 my-1" %>
    <%= f.text_field :title, class: "col-sm-2 mx-3 my-1 form-control" %>
    <div class="col-sm-8"></div>
  </div>
  <div class="row">
    <%= f.label :character, "Character", class: "col-sm-2 mx-3 my-1 " %>
    <%= f.text_field :character, class: "col-sm-2 mx-3 my-1 form-control" %>
    <div class="col-sm-8"></div>
  </div>
  <div class="row">
    <%= f.label :image, "Image", class: "col-sm-2 mx-3 my-1" %>
    <%= f.file_field :cosplay_image, placeholder: "Cosplay image", accept: "image/*", class: "col-sm-5 mx-3 my-1" %>
    <div class="col-sm-5"></div>
  </div>
  <div class="row">
    <%= f.label :body, "Body", class: "col-sm-2 mx-3 my-1" %>
    <%= f.text_area :body, class: "col-sm-5 mx-3 my-1 form-control" %>
    <div class="col-sm-5"></div>
  </div>
  <div class="row">
    <div class="col-sm-2 mx-3 my-1"></div>
    <%= f.submit "Save changes", class: "btn btn-outline-success col-sm-2 mx-3 my-1 ml-2" %>
    <div class="col-sm-8"></div>
  </div>
<% end %>