<div class="row">
  <div class="col-sm-8">
	  <h2><i class="fas fa-camera"></i>Cosplay image</h2>
  </div>
  <div class="col-sm-4"></div>



      <!--<td>< % if @book.favorited_by?(current_user) %>-->
      <!--  <p>-->
      <!--    < %= link_to book_favorites_path(@book), method: :delete do %>-->
      <!--      ♥< %= @book.favorites.count %>-->
      <!--    < % end %>-->
      <!--  </p>-->
      <!--< % else %>-->
      <!--  <p>-->
      <!--    < %= link_to book_favorites_path(@book), method: :post do %>-->
      <!--      ♡< %= @book.favorites.count %>-->
      <!--    < % end %>-->
      <!--  </p>-->
      <!--< % end %></td>-->

  <div class="col-sm-6">
    <%= link_to (@cosplay_image.user) do %>
      <%= image_tag @cosplay_image.user.get_profile_image(100,100) %>
      <%= @cosplay_image.user.name %>
    <% end %>
    <%= @cosplay_image.title %>
    <%= @cosplay_image.character %>
    <%= @cosplay_image.body %>
    <% if @book.user == current_user %>
      <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
      <%= link_to 'Destroy', @cosplay_image, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= image_tag @cosplay_image.get_image %>
  </div>

<div>
  <p>Comment：<%= @cosplay_image.comments.count %></p>
  <% @cosplay_image.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
  <% if comment.user == current_user %>
    <%= link_to "Destroy", cosplay_image_comment_path(comment.cosplay_image, comment), method: :delete %>
  <% end %>
</div>
<div>
  <%= form_with model: [@cosplay_image, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "Comment here" %>
    <%= f.submit "To comment" %>
  <% end %>
</div>
</div>