<div>
  <p>コメント件数：<%= @cosplay_image.comments.count %></p>
  <% @cosplay_image.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
  <% if comment.user == current_user %>
    <%= link_to "削除", cosplay_image_comment_path(comment.cosplay_image, comment), method: :delete %>
  <% end %>
</div>
<div>
  <%= form_with model: [@cosplay_image, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>